
/*
------    S m a l l       S c r e e n   -------
*/

@media only screen and (max-width: 600px) {
    .about-idea{
        width: 90%;
        margin: 0 auto 20px auto;
        justify-content: center;
    }
    .title{
        text-align: center;
        margin-bottom: 3%;
        text-transform: capitalize;
        font-size:30px;
    }
    .title span{
        color: #52C2E6;
        margin-right: 8px;
    }
    .one {
        display: block;
        margin-bottom: 5%;
        border-bottom: 1px solid #000;
    }
    .two {
        display: block;
    }
    img {
        display: none;
    }
    .idea h2{
        margin-bottom: 10px;
    }
    .idea p{
        line-height: 20px;
    }
}

/*
 ------    M e d i u m       S c r e e n   -------
*/

@media (min-width: 601px) and (max-width: 900px) {
    .about-idea{
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .title{
        text-align: center;
        margin-bottom: 3%;
        text-transform: capitalize;
        font-size: 40px;
    }
    .title span{
        color: #52C2E6;
        margin-right: 10px;
    }
    .one {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-bottom: 5%;
    }
    .two {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .idea h2{
        margin-bottom: 20px;
    }
    .idea p{
        line-height: 20px;
    }
}

/*
------    L a r g e       S c r e e n   -------
*/

@media (min-width: 901px){
    .about-idea{
        width: 90%;
        margin: 0 auto 20px auto;
    }
.title{
    text-align: center;
    margin-bottom: 3%;
    text-transform: capitalize;
    font-size: 40px;
}
.title span{
    color: #52C2E6;
    margin-right: 10px;
}
.one {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 5%;
}
.two {
    display: grid;
    grid-template-columns: 60% 40%;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.idea h2{
    margin-bottom: 20px;
}
.idea p{
    line-height: 20px;
}
}
