/* get in touch */
#get-in-touch{
    position: relative;
    top:-155px;
}
.contact-section h2{
    text-align: center;
    margin-bottom: 3%;
    text-transform: capitalize;
    font-size: 40px;
}
.contact-section h2 span{
    color: #52C2E6;
    margin-right: 10px
}

.map-section{
	width:100%;
    max-height:450px;
    position: relative;
}
.map-rgba{
	width:100%;
	height:450px;
	background:rgba(0,0,0,0.6);
}
#map{
	width:100%;
	height:450px;
	z-index:-1;
	position:absolute;
}
 .contact{
    background-color: #FFF;
    padding-top:50px;
    width:60%;
    box-shadow: 0 12px 35px  rgba(2, 61, 88, 0.3);
    margin: 20px auto;
    padding-bottom: 30px;
    min-height: 500px;
    font-family:'Inconsolata', monospace;
} 
.contact .contact-title{
    text-align: center;
    margin-bottom: 3%;
    text-transform: capitalize;
    font-size: 40px;
}
.contact .contact-form{
    padding-left: 20px;
    padding-right: 20px;
}
.form-control
{
    background-color: #E5E5E5;
    border-radius: 15px;
    outline:none;
    letter-spacing: 1px;
    border: 0 none;
    margin-bottom: 5%;
    color: #000;
    display: block;
    width: 80%;
    margin: 0px auto 20px auto;
    min-height: 50px;
    padding: 10px 15px;
} 
.contact-form textarea{
    height: 160px;
    resize: vertical;
}
.contact-form .btn{
    border: solid 2px #52C2E6;
    color: #52C2E6;
    font-weight: bold;
    padding: 15px 10px;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    width: 50%;
    margin: 0 auto;
    font-family:'Inconsolata', monospace;
    font-size: 20px;
}
.contact-form .btn:hover {
    background: #52C2E6;
    border-color: #52C2E6;
    color: #ffffff;
}

.contact-icons{
    width: 90%;
    margin: 0 auto 5% auto;;
    text-align:center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
}
.contact-icons .box-icon {
    border: 3px solid #52C2E6;
    border-radius: 50%;
    color: #52C2E6;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    padding-top: 14px;
    text-align: center;
    width: 60px;
	margin-bottom:5%;
	transition:all 0.5s ease 0s;
}
.contact-icon-box:hover .box-icon{
	background:#52C2E6;
    color: #fff;
}
.contact-icon-box p{
    font-weight: bold;
    transition:all 0.5s ease 0s;
    
}
.contact-icon-box:hover p{
    font-size:15px;
}

/*
------    S m a l l       S c r e e n   -------   
*/

@media only screen and (max-width: 600px) {
    #get-in-touch{
        position: relative;
        top:-100px;
        padding-top: 10px;
        width: 80%;
    }
    .contact-section h2{
        text-align: center;
        margin-bottom: 3%;
        text-transform: capitalize;
        font-size: 25px;
    }
    .contact-section h2 span{
        color: #52C2E6;
        margin-right: 10px
    }
    
    .map-section{
        width:100%;
        max-height:200px;
        position: relative;
    }
    .map-rgba{
        width:100%;
        height:200px;
        background:rgba(0,0,0,0.6);
    }
    #map{
        width:100%;
        height:200px;
        z-index:-1;
        position:absolute;
    }
     .contact{
        background-color: #FFF;
        padding-top:10px;
        width:60%;
        box-shadow: 0 12px 35px rgba(2, 61, 88, 0.3);
        margin: 5px auto;
        padding-bottom:10px;
        min-height: 300px;
        font-family:'Inconsolata', monospace;
    } 
    .contact .contact-title{
        text-align: center;
        margin-bottom: 5%;
        text-transform: capitalize;
        font-size:20px;
    }
    .contact .contact-form{
        padding-left: 0px;
        text-align: center;
        padding-right: 0px;
    }
    .form-control
    {
        background-color: #E5E5E5;
        border-radius: 15px;
        outline:none;
        letter-spacing: 1px;
        border: 0 none;
        margin-bottom: 5%;
        color: #000;
        display: inline-block;
        width: 80%;
        margin: 0px auto 20px auto;
        min-height: 40px;
        padding:5px 10px;
    } 
    .contact-form textarea{
        height: 160px;
        line-height: 20px;
        resize: vertical;
    }
    .contact-form .btn{
        border: solid 2px #52C2E6;
        color: #52C2E6;
        font-weight: bold;
        padding: 10px 10px;
        display: block;
        border-radius: 15px;
        cursor: pointer;
        outline: none;
        width:70%;
        margin: 0 auto;
        font-family:'Inconsolata', monospace;
        font-size:15px;
    }
    .contact-form .btn:hover {
        background: #52C2E6;
        border-color: #52C2E6;
        color: #ffffff;
    }

.contact-icons{
    width: 90%;
    margin: 0 auto 5% auto;;
    text-align:center;
    display: block;
}
.contact-icon-box{
    margin-bottom:30px;
}
.contact-icons .box-icon {
    border: 3px solid #52C2E6;
    border-radius: 50%;
    color: #52C2E6;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    padding-top: 14px;
    text-align: center;
    width: 60px;
	margin-bottom:5%;
	transition:all 0.5s ease 0s;
}
.contact-icon-box:hover .box-icon{
	background:#52C2E6;
    color: #fff;
}
.contact-icon-box p{
    font-weight: bold;
    font-size:18px;
    transition:all 0.5s ease 0s;
    
}
.contact-icon-box:hover p{
    font-size:15px;
}
      
}
