.sign-up {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
    box-shadow: 0 12px 35px rgba(2, 61, 88, 0.3);
    border: none;
    border-radius: 5px;
}
.sign-up .sign-up-title{
    text-align: center;
    margin: 10px 0px 50px 0px;
    text-transform: capitalize;
    font-size: 30px;
}

input, input:focus{
    background-color: #E5E5E5;
    border-radius: 15px;
    outline: none;
    letter-spacing: 1.5px;
    border: 0 none;
    margin-bottom: 5%;
    font-family: 'Inconsolata', monospace;
    color: #000;
    display: block;
    width: 80%;
    margin: 0px auto 20px auto;
    min-height: 50px;
    padding: 10px 15px;
}

.switch {
    display: flex;
    margin: 0 5%;
    padding: 5%;

}

.switch .but-person,.switch .but-business {
    justify-content: space-between;
}

.title-label {
    text-align: center;
    margin-bottom: 5%;
}

label[for="gender"] {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
input[type="radio"]{
    max-height: 10px;
}


button {
    border: solid 2px #52C2E6;
    color: #52C2E6;
    font-weight: bold;
    padding: 15px 10px;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    width: 50%;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

button:hover {
    background: #52C2E6;
    border-color: #52C2E6;
    color: #ffffff;
}

.errorValid {
    text-align: center;
    color: red;
    min-height: 30px;
}

/*
------    S m a l l       S c r e e n   -------
*/

@media only screen and (max-width: 600px) {
    .sign-up {
        width: 90%;
    }

    .sign-up .sign-up-title {
        margin: 10px 0px 20px 0px;
        font-size: 18px;
    }

    button {
        border: solid 2px #52C2E6;
        color: #52C2E6;
        font-weight: bold;
        padding: 10px 10px;
        display: block;
        border-radius: 15px;
        cursor: pointer;
        outline: none;
        width: 50%;
        margin: 0 auto;
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
    }

    button:hover {
        background: #52C2E6;
        border-color: #52C2E6;
        color: #ffffff;
    }

    .message {
        position: relative;
        display: block;
        margin: 3% auto;
        padding: 1%;
        font-weight: bold;
        width: 90%;
    }

    .errorValid {
        text-align: center;
        color: red;
        min-height: 30px;
    }

}

/*
 ------    M e d i u m       S c r e e n   -------
*/

@media (min-width: 601px) and (max-width: 900px) {

}

/*
------    L a r g e       S c r e e n   -------
*/

@media (min-width: 901px){

}
