/**
     Color
white : #FFFFFF
gray :  #E5E5E5
blue :  #52C2E6
yellow: #FFE603
orange: #FCD271

 */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
}
ul,
ol{
    list-style: none;
}
a,
a:hover,
a:active,
a:visited{
    color: #000000;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
 .header {
    width: 100%;
    padding:0px 20px 0px 20px;
    max-height: 80px;
    min-height: 80px;
    background:#52C2E6 !important;
    color: #000000;
    /* border-bottom: #000000 solid 2px; */
}
.header .logo{
    float: left;
    width:70%;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}
.header .menu{
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    position: relative; 
    width: 30%;
    margin-top: 8%;
}
.header .menu .main-menu{
    display: none; 
    width: 200px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background: rgba(0,0,0,0.1);
    position: absolute;
    z-index: 9999;
}
.header .menu:hover .main-menu{
    display: block;
    position: absolute;
}
.minu-link{
    width: 100%;
    line-height: 1;
    padding-left:10px;
    font-size: 15px;
    overflow: hidden;
    transition: all 0.5s;
}
.minu-link span{
    display: inline-block;
    margin-right:3%;
}
.minu-link:hover{
    text-indent: 8px;
    color: rgb(78, 129, 146);
}
.footer {
    width: 100%;
    min-height:150px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding-top:100px;
    line-height: 2;
    text-transform: capitalize;
    margin-top: 55%;
}
}
