/**
     Color
white : #FFFFFF
gray :  #E5E5E5
blue :  #52C2E6
yellow: #FFE603
orange: #FCD271

 */

*{
    /*background-color: #E5E5E5;*/
    margin: 0px;
    padding: 0px;
}

 div.footer {
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: #ffffff;
}

 div.header {
    width: 100%;
    height: 10%;
    background-color: #52C2E6;
    color: #000000;
}


