   <div class="about-idea">
        <h2 class="title"><span>voyage</span> idea</h2>
        <div class="idea">
            <div class="one">
                <div class="imgs">
                    <img src="http://www4.0zz0.com/2018/09/13/13/594399432.jpg" alt="">
                    <img src="http://www14.0zz0.com/2018/09/13/14/991823506.jpeg" alt="">
                </div>
                <div class="idea-content">
                    <h2>What is voyage ?!</h2>
                    <p>A web application that allows you to search and explore places of entertainment in Gaza and gives you the possibility to give your opinion on places after you register as a regular user on the site .. If you are the owner of an entertainment site and want to market it you can register as a business account and then you can view your services and receive reviews of people about the services and the place.</p>
                </div>
            </div>
            <div class="two">
                <div class="idea-content">
                    <h2>Why?!</h2>
                    <p>People in Gaza often suffer from difficult access to suitable recreational places, for example a family that wants to go to a park and looking for the nearest one that is clean and quiet. our site will allow them to search for nearby parks in Gaza It will also support and market recreational venues.</p>
                </div>
                <div class="imgs">
                    <img src="http://www2.0zz0.com/2018/09/13/14/102897193.jpeg" alt="">
                    <img src="http://www14.0zz0.com/2018/09/13/14/809112739.jpeg" alt="">
                </div>
            </div>
        </div> <!--idea-->
     </div><!--about-idea -->



