   <div class="about-idea">
        <h2 class="title">voyage idea</h2>
        <div class="idea">
                <div class="imgs">
                    <img src="http://www4.0zz0.com/2018/09/13/13/594399432.jpg" alt="">
                    <img src="http://www14.0zz0.com/2018/09/13/14/991823506.jpeg" alt="">
                    <img src="http://www2.0zz0.com/2018/09/13/14/102897193.jpeg" alt="">
                    <img src="http://www14.0zz0.com/2018/09/13/14/809112739.jpeg" alt="">
                </div>
                <div class="idea-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente aliquam possimus delectus tempora nemo quos perspiciatis incidunt, animi aperiam, quidem placeat saepe ipsa dolore, iure fugiat cum consectetur unde!</p>
                </div>
        </div> <!--idea-->
     </div><!--about-idea -->

    <div class="about-team">
        <h2 class="title">voyage team</h2>
        <div class="team">
                
        </div> <!--idea-->
    </div><!--about-team->

     
     