<div class="catResult">
  {{#each response}}
  <div class="catResultPic" >
    <img class="catPhoto" src="{{img}}">
  </div>
    <h3 class="catName">{{name}}</h3>
  {{/each}}
  <div class="rgba"><div>
</div>
