<section class="category-section">
  <h2><span>top</span> Options for your choice</h2>
  <div class="cat-result">
    {{#each response}}
      <div class="cat-result-pic" >
        <img class="cat-photo" id="{{name}}" src="{{img}}">
        <div class="cat-data">
          <h2 class="cat-name">{{name}}</h2>
          <h3>Avg Evaluation : {{avg}}/5 </h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
    {{/each}}
  </div>
</section>
