<section class="category-section">
  <h2><span>top</span> Options for your choice</h2>
  <div class="catResult">
    {{#each response}}
      <div class="catResultPic" >
        <img class="cat-photo" src="{{img}}">
        <div class="cat-data">
          <h2 class="cat-name">{{name}}</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
      <div class="rgba"></div>
    {{/each}}
  </div>
</section>
