   <div id="get-in-touch" class="contact">
     <h2 class="title">get in touch</h2>
        <div class="container">
                  <div class="contact-form">
                   <form action="#" method="">
                        <input type="text" class="form-control" name="name" required placeholder="Name">
                        <input type="email" class="form-control" name="email"  required placeholder="Email">
                        <input type="text" class="form-control" name="subject"  required placeholder="Subject">
                        <textarea class="form-control msg" name="msg"  rows="3" required placeholder="Enter Your Message Here .."></textarea>
                        <input type="submit" class="btn" value="Contact Us">
                    </form> 						
               </div>
        </div> <!--container-->
     </div><!--get in touch-->
     