<div class="clear"></div>
<div class="contact-section" >
	<h2><span>voyage</span>location</h2>
	<div class="map-section">
		<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435859.4344905242!2d34.668202450021134!3d31.409942603049434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14fd844104b258a9%3A0xfddcb14b194be8e7!2z2YLYt9in2Lkg2LrYstmR2Kk!5e0!3m2!1sar!2s!4v1536931969076" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<div class="map-rgba"></div>
	</div>
	<div id="get-in-touch" class="contact">
		<h2 class="contact-title">get in touch</h2>
		<div class="container">
				<div class="contact-form">
				<form action="#" method="">
					<input type="text" class="form-control" name="name" required placeholder="Name">
					<input type="email" class="form-control" name="email"  required placeholder="Email">
					<input type="text" class="form-control" name="subject"  required placeholder="Subject">
					<textarea class="form-control msg" name="msg"  rows="3" required placeholder="Enter Your Message Here .."></textarea>
					<input type="submit" class="btn" value="Contact Us">
				</form> 						
			</div>
		</div> <!--container-->
	</div><!--get in touch-->
</div>
<div class="clear"></div>
<!-- Contact-icons -->
		<div class="contact-icons">
			<div class="contact-icon-box">
				<div class="box-icon">
					<span class="fas fa-phone"></span>
				</div>
				<p>+9725920737272</p>
			</div>
			<div class="contact-icon-box">
				<div class="box-icon">
					<span class="fas fa-map-marker"></span>
				</div>
				<p>Palestine - Gaza Strip</p>
			</div>
			<div class="contact-icon-box">
				<div class="box-icon">
					<span class="fas fa-at"></span>
				</div>
				<p>voyage@outlook.ps</p>
			</div>
		</div>
<!--End contact-icons-->
