
<div> welcome</div>
<section>
  <div class="categoriesBtns">
    <button id="cafe" class="categories"  type="button" ><img  id="cofee-cup" src="./images/coffee-cup.svg" ></button>
    <button id="park" class="categories" type="button"> <img  id="parks" src="./images/park.svg" ></button>
      <button id="restaurant" class="categories"  type="button" ><img  id="tray" src="./images/tray.svg" ></button>
  </div>
</section>

<form class="search-form" action="" method="get">
  <label for="search-inp" >. <input list="data" class="form-search" type="text" name="saerch" id="search" placeholder="Search" autocomplete="on"></label>
  <datalist id="data" >

  </datalist>
</form>

<hr>

<div class="reviews-section">

</div>
