
<section>
  <div class="categoriesBtns">
    <button id="cafe" class="categories"  type="button" ><img id="coffeeCup" src="./images/coffee-cup.svg" ></button>
    <button id="park" class="categories" type="button"> <img  id="parks" src="./images/park.svg" ></button>
      <button id="restaurant" class="categories"  type="button" ><img  id="tray" src="./images/tray.svg" ></button>
  </div>
</section>

<form class="search-form" action="" method="get">
  <label for="search-inp" >. <input list="data" class="form-search" type="text" name="saerch" id="search" placeholder="Search" autocomplete="on"></label>
  <datalist id="data" >

  </datalist>
</form>

            <div class="reviews-section">
                <div class="review">
                    {{#each response}}
                        <h3> <a href="/user_profile" >@{{username}}</a></h3>
                        <p>content: {{content}}</p>
                        <h3><a href="/business_page" >name business: {{name}}</a></h3>
                        <h3>evaluation: {{evaluation}}/5</h3>
                        <button id="show-comments" class="fas fa-comments">comments</button>
                    {{/each}}
                    <h3>comment : </h3>
                    <div class="comments">
                        <button class="add-comment fas fa-plus-square">Add new</button>
                        <div class="add-comment">
                            <label for="comment">
                                <input type="text" name="comment" id="comment-input">
                            </label>
                            <button type="submit" id="send-button">add comment</button>
                        </div>  
                    </div>
                </div>
                
            </div>
