<div> welcome</div>
<section>
  <div class="categoriesBtns">
    <button id="cafe" class="categories"  type="button" ><img  id="cofee-cup" src="./images/coffee-cup.svg" ></button>
    <button id="park" class="categories" type="button"> <img  id="parks" src="./images/park.svg" ></button>
      <button id="restaurant" class="categories"  type="button" ><img  id="tray" src="./images/tray.svg" ></button>
  </div>
</section>

<!-- <script src="/js/home.js"></script> -->
<style media="screen">

@media only screen and (max-width: 600px) {


  .categories{

  display: flex;
    width: 90px;
    height: 88px;
    flex-direction: row;
    justify-content: space-around;

    top: 149px;

    background: #FFFFFF;
    border: 1px solid #56CCF2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .categoriesBtns{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  /* #cafe{
    left: 45px;
  }

  #park{
    left: 143px;
  }


  #restaurant{

    left: 240px;
  } */




#coffee-cup {

  position: absolute;
  width: 51px;
  height: 51px;
  left: 66px;
  top: 168px;
}

#parks{

  position: absolute;
  width: 72px;
  height: 52px;
  left: 153px;
  top: 172px;
}



#tray {

  position: absolute;
  width: 59px;
  height: 59px;
  left: 257px;
  top: 168px;
}
}
</style>
