<div class="sign-in">
    <p class="text">Enter your data to login</p>
    <label for="input-email">
        <input type="email" id="input-email" placeholder="Email" required>
    </label>
    <label for="input-password">
        <input type="password" id="input-password" placeholder="Password" required>
    </label>
    <span id="message-error" class="message"></span>
    <button type="submit" id="send-button">send</button>
    <a href="/sign_up" class="link-sing-up">Forget your password</a>
</div>
