<div class="sign-in">
    <label for="email">
        <input type="email" id="email" placeholder="Email" required>
    </label>
    <label for="password">
        <input type="password" id="password" placeholder="Password" required>
    </label>
    <span id="error"></span>
    <button type="submit" id="butSend">send</button>
</div>
