<div class="sign-in">
    <label for="input-email">
        <input type="email" id="input-email" placeholder="Email" required>
    </label>
    <label for="input-password">
        <input type="password" id="input-password" placeholder="Password" required>
    </label>
    <span id="message-error"></span>
    <button type="submit" id="send-button">send</button>
</div>
