<footer>
    <div class="footer">
        <address>all rights reserved <a id="footer-link" href="https://github.com/FACG5/voyage"> voyage team </a> &copy; 2018</address>
        <p>asala, asmaa, ahmed & donia</p>
    </div>
</footer>
