    <div class="header">
        <div class="logo">voyage</div>
        <div class="menu fas fa-bars">
            <ul class="main-menu">
                <a href="#" class="minu-link"><li class="menu-item"><span class="fas fa-question"></span> about us</li></a>
                <a href="#" class="minu-link"><li class="menu-item"><span class="fas fa-comment-alt"></span>contact us</li></a>
                <a href="#" class="minu-link"><li class="menu-item"><span class="fas fa-search"></span>search</li></a>
                <a href="#" class="minu-link"><li class="menu-item"><span class="fas fa-sign-in-alt"></span>sign in</li></a>
                <a href="#" class="minu-link"><li class="menu-item"><span  class="fas fa-user-plus"></span>sign up</li></a>
            </ul>
        </div>
    </div>

