<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
    <body>
        {{>header}}

        <main>
            {{{body}}}
        </main>

        {{>footer}}
    </body>

    {{#if dom}}
        <script src="/js/{{dom}}.js"></script>
    {{/if}}

    {{#if isPerson }}
        <script src="/js/{{personAddReview}}.js"></script>
    {{/if}}

</html>
